/* BLOGS */

.blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.blog-card {
    background-color: #2f2e2f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    scroll-snap-align: center;
    transition: transform 0.3s, flex-basis 0.3s;
    animation: slideDown 0.5s ease;
    margin: 8px 8px;
    -webkit-transition: transform 0.3s, flex-basis 0.3s;
    -moz-transition: transform 0.3s, flex-basis 0.3s;
    -ms-transition: transform 0.3s, flex-basis 0.3s;
    -o-transition: transform 0.3s, flex-basis 0.3s;
    -webkit-animation: slideDown 0.5s ease;
}

.blog-card {
    flex: 1 1 calc(20% - 20px);
}

.blog-card:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 884px) {
    .blog-card {
        flex: 1 1 calc(100% - 20px);
    }
}

.blog-card img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
    object-position: 50% 0%;
}

.blog-card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: calc(100% - 20px);
}

.blog-card-content h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #02ff88;
}

.blog-card-content p {
    margin: 5px 0 0;
    font-size: 0.9em;
    color: #B3B3B3;
    display: inline;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    /* Important for long words! */
}

.blog-card-content a {
    text-decoration: none;
    color: #B3B3B3;
    transition: color 0.3s;
}

.blog-card-content a:hover {
    color: #02ff88;
}