.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #2e2e31;
    color: #B3B3B3;
}

.contact-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #02ff88;
    color: #242424;
    font-size: 18px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #05ff82;
}

.mapbox {
    position: relative;
    height: 350px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 30px;
    border: 1px solid var(--jet);
    overflow: hidden;
}

.mapbox iframe {
    width: 100%;
    height: 100%;
    border: none;
    filter: grayscale(1) invert(1);
}