.nav-sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2e2e31;
    overflow-x: hidden;
    padding-top: 60px;
    width: 200px;
    transform: translateX(-250px);
    transition: transform 0.7s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateX(-250px);
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -o-transform: translateX(-250px);
}

.nav-sidebar a {
    padding: 12px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #B3B3B3;
    display: block;
    transition: 0.3s;
}

.nav-sidebar h2 {
    padding-left: 15px;
}

.nav-sidebar a:hover {
    background-color: #02ff88;
    color: #242424;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #2e2e31;
    color: #B3B3B3;
    padding: 10px 15px;
    border: none;
    margin: 10px;
}

.section button.active {
    background-color: #02ff88;
    color: #242424;
}

.openbtn:hover {
    background-color: #02ff88;
    color: #242424;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}